@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

div.CodeMirror {
    .cm-string {
        //color: #315B8A;
        color: #0d904f;

        &.cm-property {
            //color: #C85B6C;
            color: #3b78e7;
        }
    }

    .cm-number {
        //color: #FE7568;
        color: #e74c3c;
    }

    .cm-atom {
        color: #a71d5d;
    }

    .CodeMirror-gutters {
        background-color: rgba(0, 0, 0, 0.04);
    }

    span.CodeMirror-matchingbracket {
        color: #548fcc;
        text-shadow: 0 0 4px #2791ff;
    }

    font-family: "Roboto Mono", "Courier New", Courier, monospace;
    font-size: 12px;
}
