@import url("https://fonts.googleapis.com/css?family=Medula+One&display=swap");

$basic-spacing: 10px;
$border-color: lightgray;
$border: 1px solid $border-color;

body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

#playground-layout {
    display: grid;
    height: 100vh;

    $toolbar-height: 46px;

    &.parallel {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: $toolbar-height 2fr 1fr;
        grid-template-areas:
            "toolbar toolbar"
            "editor genome-spy"
            "files genome-spy";
    }

    &.stacked {
        grid-template-rows: $toolbar-height 1fr 1fr;
        grid-template-columns: 1fr 500px;
        grid-template-areas:
            "toolbar toolbar"
            "genome-spy genome-spy"
            "editor files";
    }

    &.full {
        grid-template-rows: $toolbar-height 1fr;
        grid-template-areas:
            "toolbar"
            "genome-spy";
    }

    > * {
        position: relative;
    }

    @media (max-width: 600px) {
        &.parallel,
        &.stacked {
            grid-template-rows: $toolbar-height 1fr 1fr;
            grid-template-columns: 1fr;
            grid-template-areas:
                "toolbar"
                "genome-spy"
                "editor";
        }

        #file-pane {
            display: none;
        }
    }
}

#editor-pane {
    grid-area: editor;
    min-width: 0;
    min-height: 0;

    .full & {
        display: none;
    }

    > code-editor {
        position: absolute;
        inset: 0;
    }
}

#genome-spy-pane {
    grid-area: genome-spy;

    position: relative;

    .stacked & {
        border-bottom: $border;
    }

    .parallel & {
        border-left: $border;
    }

    & > div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        overflow: auto;
    }
}

#file-pane {
    grid-area: files;
    padding: $basic-spacing;

    //overflow: auto;

    .stacked & {
        border-left: $border;
    }

    .parallel & {
        border-top: $border;
    }

    .full & {
        display: none;
    }
}

.toolbar {
    $bgcolor: #548fcc;
    //$buttonColor: #315B8A;

    grid-area: toolbar;
    background-color: $bgcolor;
    color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;

    a,
    button,
    span {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .genome-spy-icon img {
        display: block;
        height: 40px;

        transform: rotate(0deg);
        transition: 0.5s ease-in-out;

        &:hover {
            transform: rotate(360deg);
        }
    }

    > * {
        margin-left: $basic-spacing;
        display: block;
    }

    > :last-child {
        margin-right: $basic-spacing;
    }

    .vis-title {
        flex-grow: 1;
        font-style: italic;
        font-size: 85%;
    }

    .tool-button {
        display: flex;
        align-items: center;

        color: white;
        font-size: 16px;
        border: none;
        background-color: $bgcolor;

        padding-left: $basic-spacing;
        padding-right: $basic-spacing;

        height: 100%;

        &:hover {
            background-color: lighten($bgcolor, 5%);
        }

        &:focus {
            outline: none;
        }

        svg {
            font-size: 120%;
        }

        > :not(:first-child) {
            margin-left: 0.5em;
        }

        &:active {
            box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);

            > * {
                position: relative;
                top: 1px;
            }
        }
    }

    a {
        text-decoration: none;
    }

    .title {
        font-family: "Medula One", cursive;
        font-size: 30px;
        margin-right: 10px;
    }

    .version {
        font-size: 85%;
    }

    @media (max-width: 600px) {
        .hide-mobile {
            display: none;
        }
    }
}

ul.tabs {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: $basic-spacing;

    font-size: 13px;

    li {
        display: block;

        margin: 0;
        padding: calc($basic-spacing / 2) $basic-spacing;

        border-bottom: 2px solid #eee;

        &.selected {
            border-bottom-color: #ccc;
            background-color: #eee;
        }
    }

    a {
        color: black;
        text-decoration: none;
    }
}

.tab-pages {
    > div {
        font-size: 0.9rem;

        display: none;

        &.selected {
            display: block;
        }

        overflow: auto;

        .stacked & {
            height: calc(50vh - 80px); // Fugly hack, 80px is an approx
        }

        .parallel & {
            height: 25vh;
        }
    }
}

.data-sample-table {
    font-size: 11px;

    border-collapse: collapse;

    td,
    th {
        text-align: left;

        $b: 1px solid #ddd;

        border-top: $b;
        border-bottom: $b;

        padding: 5px;
    }
}

.missing-files {
    border: 1px solid orange;
    border-radius: 0.5em;
    padding: 0.8em;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

    ul {
        font-family: monospace;
        padding-left: 2em;
    }
}

.upload-form {
    #upload-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
    }

    p {
        color: #444;
    }

    pre {
        background-color: #f8f8f8;
        padding: $basic-spacing;
    }
}

// ////////

$ui-color: white;
$ui-bg-color: #548fcc;

.btn {
    $padding: 8px;

    background-color: $ui-bg-color;
    padding: $padding 1em;
    color: $ui-color;
    border: 0;
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;

    &:hover {
        background-color: lighten($ui-bg-color, 3%);
    }

    $active-shadow: 0 0 4px #00aaff;

    &:focus {
        outline: none;
        box-shadow: $active-shadow;
    }

    &:active {
        padding-top: $padding + 1px;
        padding-bottom: $padding - 1px;
        box-shadow: $active-shadow, inset 0 3px 3px rgba(0, 0, 0, 0.2);
    }
}
