@use "sass:color";
@import url("https://fonts.googleapis.com/css?family=Medula+One&display=swap");

$basic-spacing: 10px;
$border-color: lightgray;
$border: 1px solid $border-color;

$toolbar-bgcolor: #548fcc;

body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

split-panel {
    --handle-hover-color: #{color.scale($toolbar-bgcolor, $alpha: -85%)};
}

#playground-layout {
    display: flex;
    height: 100vh;

    flex-direction: column;

    > split-panel {
        flex-grow: 1;
    }
}

#genome-spy-container,
#editor-and-others,
code-editor,
file-pane {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.toolbar {
    $bgcolor: $toolbar-bgcolor;
    //$buttonColor: #315B8A;

    background-color: $bgcolor;
    color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;

    height: 46px;

    a,
    button,
    span {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .genome-spy-icon img {
        display: block;
        height: 40px;

        transform: rotate(0deg);
        transition: 0.5s ease-in-out;

        &:hover {
            transform: rotate(360deg);
        }
    }

    > * {
        margin-left: $basic-spacing;
        display: block;
        flex-shrink: 0;
    }

    > :last-child {
        margin-right: $basic-spacing;
    }

    > .vis-title {
        flex-grow: 1;
        flex-shrink: 1;
        font-style: italic;
        font-size: 85%;
    }

    .tool-button {
        display: flex;
        align-items: center;

        color: white;
        font-size: 90%;
        border: none;
        background-color: $bgcolor;

        padding-left: $basic-spacing;
        padding-right: $basic-spacing;

        height: 100%;

        &:hover {
            background-color: color.adjust($bgcolor, $lightness: 5%);
        }

        &:focus {
            outline: none;
        }

        svg {
            font-size: 120%;
        }

        > :not(:first-child) {
            margin-left: 0.5em;
        }

        &:active {
            box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);

            > * {
                position: relative;
                top: 1px;
            }
        }
    }

    a {
        text-decoration: none;
    }

    .title {
        font-family: "Medula One", cursive;
        font-size: 30px;
        margin-right: 10px;
    }

    .version {
        font-size: 85%;
    }

    @media (max-width: 600px) {
        .hide-mobile {
            display: none;
        }
    }
}

file-pane {
    position: absolute;
}

.tab-wrapper {
    position: absolute;
    inset: $basic-spacing;

    display: flex;
    flex-direction: column;
    gap: $basic-spacing;
}

ul.tabs {
    display: flex;
    margin: 0;
    padding: 0;

    font-size: 13px;

    li {
        display: block;

        margin: 0;
        padding: calc($basic-spacing / 2) $basic-spacing;

        border-bottom: 2px solid #eee;

        &.selected {
            border-bottom-color: #ccc;
            background-color: #eee;
        }
    }

    a {
        color: black;
        text-decoration: none;
    }
}

.tab-pages {
    flex: 1;
    overflow: auto;

    > div {
        font-size: 0.9rem;

        display: none;

        &.selected {
            display: block;
        }
    }
}

.data-sample-table {
    font-size: 11px;

    border-collapse: separate;
    border-spacing: 0;

    td,
    th {
        text-align: left;

        padding: 5px;

        max-width: 15em;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;

        &:hover {
            overflow: visible;
            background-color: #fafafa;
        }
    }

    td {
        border-bottom: 1px solid #f0f0f0;
    }

    thead th {
        top: 0;
        position: sticky;
        background-color: white;
        border-bottom: 1px solid #c0c0c0;
    }
}

.missing-files {
    border: 1px solid orange;
    border-radius: 0.5em;
    padding: 0.8em;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

    ul {
        font-family: monospace;
        padding-left: 2em;
    }
}

.upload-form {
    #upload-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
    }

    p {
        color: #444;
    }

    pre {
        background-color: #f8f8f8;
        padding: $basic-spacing;
    }
}

// ////////

$ui-color: white;
$ui-bg-color: #548fcc;

.btn {
    $padding: 8px;

    background-color: $ui-bg-color;
    padding: $padding 1em;
    color: $ui-color;
    border: 0;
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;

    &:hover {
        background-color: color.adjust($ui-bg-color, $lightness: 3%);
    }

    $active-shadow: 0 0 4px #00aaff;

    &:focus {
        outline: none;
        box-shadow: $active-shadow;
    }

    &:active {
        padding-top: $padding + 1px;
        padding-bottom: $padding - 1px;
        box-shadow:
            $active-shadow,
            inset 0 3px 3px rgba(0, 0, 0, 0.2);
    }
}
