**/*.map
**/*.swp
**/*.swo
**/*.pyc
**/*~
**/.DS_Store
**/*.egg-info
.Rproj.user

tmp/
.cache/
.vscode/
node_modules/
.venv/

**/static/private/
**/private/
**/static/examples/drafts/

/docs/app/
/docs/schema.json
/docs/app-schema.json
/docs/genome-spy-schema.json

build/
dist/
/coverage/
/site/

lerna-debug.log
