**/*.map
**/*.swp
**/*.swo
**/*.pyc
**/*~
**/.DS_Store
**/*.egg-info
.Rproj.user

.vscode/
node_modules/

**/static/private/
**/static/examples/drafts/

/docs/app/
/docs/genomespy-schema.json

build/
dist/
/coverage/
/site/

lerna-debug.log
