site_name: GenomeSpy Docs
site_url: https://genomespy.app/docs/
theme:
    name: material
    custom_dir: custom_theme/
    features:
        - navigation.indexes
    palette:
        primary: indigo
    font:
        text: Lato
plugins:
    - social
    - search
markdown_extensions:
    - markdown.extensions.def_list
    - pymdownx.magiclink
    - pymdownx.highlight
    - pymdownx.superfences
    - pymdownx.keys
    - admonition
    - attr_list
    - toc:
          permalink: true
    - attr_list
    - pymdownx.emoji:
          emoji_generator: !!python/name:materialx.emoji.to_svg
    - genomespy_extension
extra_javascript:
    - app/index.js
extra_css:
    - stylesheets/extra.css
repo_url: https://github.com/tuner/genome-spy

nav:
    - Introduction: "index.md"
    - Getting Started: "getting-started.md"
    - Visualization Grammar:
          - "grammar/index.md"
          - Data Input:
                - "grammar/data/index.md"
                - Eager Data Sources: "grammar/data/eager.md"
                - Lazy Data Sources: "grammar/data/lazy.md"
          - Transform:
                - "grammar/transform/index.md"
                - Aggregate: "grammar/transform/aggregate.md"
                - Collect: "grammar/transform/collect.md"
                - Coverage: "grammar/transform/coverage.md"
                - Filter: "grammar/transform/filter.md"
                - FilterScoredLabels: "grammar/transform/filter-scored-labels.md"
                - Flatten: "grammar/transform/flatten.md"
                - FlattenCompressedExons: "grammar/transform/flatten-compressed-exons.md"
                - FlattenDelimited: "grammar/transform/flatten-delimited.md"
                - FlattenSequence: "grammar/transform/flatten-sequence.md"
                - Formula: "grammar/transform/formula.md"
                - LinearizeGenomicCoordinate: "grammar/transform/linearize-genomic-coordinate.md"
                - MeasureText: "grammar/transform/measure-text.md"
                - Pileup: "grammar/transform/pileup.md"
                - Project: "grammar/transform/project.md"
                - RegexExtract: "grammar/transform/regex-extract.md"
                - RegexFold: "grammar/transform/regex-fold.md"
                - Sample: "grammar/transform/sample.md"
                - Stack: "grammar/transform/stack.md"
          - Graphical Marks:
                - "grammar/mark/index.md"
                - Link: "grammar/mark/link.md"
                - Point: "grammar/mark/point.md"
                - Rect: "grammar/mark/rect.md"
                - Rule: "grammar/mark/rule.md"
                - Text: "grammar/mark/text.md"
          - View Composition:
                - "grammar/composition/index.md"
                - Concat: "grammar/composition/concat.md"
                - Layer: "grammar/composition/layer.md"
          - Scales: "grammar/scale.md"
          - Importing Views: "grammar/import.md"
          - Expressions: "grammar/expressions.md"
          - Parameters: "grammar/parameters.md"
          - Types: "grammar/types.md"

    - Working with Genomic Data:
          - Genomic Coordinates: "genomic-data/genomic-coordinates.md"
          - Examples: "genomic-data/examples.md"
    - Working with Sample Collections:
          - "sample-collections/index.md"
          - Visualizing: "sample-collections/visualizing.md"
          - Analyzing: "sample-collections/analyzing.md"
    - JavaScript API: "api.md"
    - License: "license.md"
