site_name: GenomeSpy Docs
theme:
    name: material
    custom_dir: custom_theme/
markdown_extensions:
    - markdown.extensions.def_list
    - pymdownx.magiclink
    - pymdownx.highlight
    - pymdownx.superfences
    - admonition
    - attr_list
    - toc:
          permalink: true
    - genomespy_extension
extra_javascript:
    - app/main.js
extra_css:
    - app/main.css
    - stylesheets/extra.css
repo_url: https://github.com/tuner/genome-spy

nav:
    - Introduction: "index.md"
    - Getting Started: "getting-started.md"
    - Grammar:
          - Visualization Grammar: "grammar/index.md"
          - Data Input: "grammar/data.md"
          - Transform:
                - Data Transformation: "grammar/transform/index.md"
                - Aggregate: "grammar/transform/aggregate.md"
                - Collect: "grammar/transform/collect.md"
                - Coverage: "grammar/transform/coverage.md"
                - Filter: "grammar/transform/filter.md"
                - FilterScoredLabels: "grammar/transform/filter-scored-labels.md"
                - FlattenCompressedExons: "grammar/transform/flatten-compressed-exons.md"
                - FlattenDelimited: "grammar/transform/flatten-delimited.md"
                - FlattenSequence: "grammar/transform/flatten-sequence.md"
                - Formula: "grammar/transform/formula.md"
                - LinearizeGenomicCoordinate: "grammar/transform/linearize-genomic-coordinate.md"
                - MeasureText: "grammar/transform/measure-text.md"
                - Pileup: "grammar/transform/pileup.md"
                - Project: "grammar/transform/project.md"
                - RegexExtract: "grammar/transform/regex-extract.md"
                - RegexFold: "grammar/transform/regex-fold.md"
                - Sample: "grammar/transform/sample.md"
                - Stack: "grammar/transform/stack.md"
          - Graphical Marks:
                - Link: "grammar/mark/link.md"
                - Point: "grammar/mark/point.md"
                - Rect: "grammar/mark/rect.md"
                - Rule: "grammar/mark/rule.md"
                - Text: "grammar/mark/text.md"
          - View Composition:
                - Composing Views: "grammar/composition.md"
                - Concat: "grammar/concat.md"
                - Layer: "grammar/layer.md"
                - Samples: "grammar/samples.md"
          - Scales: "grammar/scale.md"
          - Importing Views: "grammar/import.md"
          - Expressions: "grammar/expressions.md"

    - Working with Genomic Data:
          - Genomic Coordinates: "genomic-data/genomic-coordinates.md"
          - Tracks: "genomic-data/tracks.md"
          - Examples:
                - SEG file: "genomic-data/examples/seg-file.md"
                - ASCAT: "genomic-data/examples/ascat.md"
    - JavaScript API: "api.md"
    - License: "license.md"
