@use "sass:math";
@use "sass:color";

/*
 * Styles that may be useful outside the App
 */

$basic-spacing: 10px;
$dialog-stroke-color: #d0d0d0;

// https://css-tricks.com/snippets/css/system-font-stack/
$font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size: 14px;

:root {
    --gs-font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --gs-font-size: 14px;
    --gs-basic-spacing: 10px;
}

.gs-modal {
    z-index: 101;

    font-family: $font-family;
    font-size: $font-size;

    position: fixed;
    inset: 0;

    .backdrop {
        position: absolute;
        inset: 0;
        background-color: rgb(75, 75, 75);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    display: grid;
    justify-content: center;
    align-content: center;

    .content {
        z-index: 1;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.21);
        background: white;
        border-radius: 3px;
        min-width: 300px;
        opacity: 0;
        transform: translate(0, -15px);
        transition:
            opacity 0.2s ease-in-out,
            transform 0.2s ease-in-out;
    }

    &.visible {
        .backdrop {
            opacity: 0.4;
        }

        .content {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    .modal-body,
    .modal-title,
    .modal-buttons {
        padding: $basic-spacing;
    }

    .modal-title {
        font-weight: bold;
        padding-bottom: 0;
    }

    .modal-body {
        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    .modal-buttons {
        display: flex;
        justify-content: flex-end;
        gap: $basic-spacing;

        border-top: 1px solid $dialog-stroke-color;
    }

    .btn {
        display: inline-block;
        padding: 4px 12px;
        margin: 0;
        font-size: 1em;
        line-height: 20px;
        color: #333333;
        text-align: center;
        text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
        vertical-align: middle;
        background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
        border: 1px solid #cccccc;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-bottom-color: #b3b3b3;
        border-radius: 4px;
        box-shadow:
            inset 0 1px 0 rgb(255 255 255 / 20%),
            0 1px 2px rgb(0 0 0 / 5%);

        transition: color 0.15s;

        &:hover:not(:disabled) {
            background-image: linear-gradient(to bottom, #f8f8f8, #d8d8d8);
        }

        &:active {
            border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2)
                rgba(0, 0, 0, 0.5);
        }

        &:disabled {
            color: #a0a0a0;
        }

        &:not(:disabled) {
            cursor: pointer;
        }

        svg:first-child:not(:last-child) {
            font-size: 85%;
            margin-right: 0.3em;
        }

        svg:last-child:not(:first-child) {
            font-size: 85%;
            margin-left: 0.3em;
        }
    }

    .btn-group {
        display: flex;

        // TODO: Extract to another class
        font-size: 1.3em;

        // TODO: This too
        margin-bottom: $basic-spacing;

        .btn {
            flex-grow: 1;
        }

        .btn:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px;
        }
        .btn:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .btn.chosen {
            background-image: linear-gradient(to bottom, #f0f0f0, #d8d8d8);
            box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
        }
    }

    a {
        color: #5570a2;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    * {
        box-sizing: border-box;
    }
}

$menu-hover-bg-color: #e0e0e0;
$menu-active-bg-color: #e8e8e8;
$menu-item-h-padding: 15px;
$menu-line-height: 22px;

.gs-menu,
.gs-context-menu,
.gs-dropdown-menu {
    margin: 0;
    padding: 7px 0;
    background: #f6f6f6;
    border: #e0e0e0;
    border-radius: 2px;

    // Ensure that toobar menus fit into the window
    max-height: calc(100vh - 60px);
    overflow-y: auto;

    z-index: 100;

    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.21);

    cursor: default;

    line-height: $menu-line-height;
    font-size: 13px;

    font-family: $font-family;

    li {
        display: block;
        list-style: none;
        position: relative;
        padding: 0;

        &.active > :is(a:first-child, .submenu-item) {
            background-color: $menu-active-bg-color;
        }
        > :is(a:first-child, label, .submenu-item):hover {
            background-color: $menu-hover-bg-color;
        }

        > span.disabled-item,
        > a:first-child {
            display: block;

            svg:first-child {
                width: 1em;
                margin-right: 0.2em;
            }
        }
    }

    .context {
        font-size: 0.9em;
        color: #666;

        &::before {
            content: "(";
        }
        &::after {
            content: ")";
        }
    }

    .menu-divider {
        margin: 5px 0;
        border-top: 1px solid #e0e0e0;
    }

    .menu-header,
    li > :is(span.disabled-item, a:first-child, .submenu-item, label) {
        padding-left: $menu-item-h-padding;
        padding-right: $menu-item-h-padding;
    }

    .menu-header {
        font-size: 12px;
        color: #666;
    }

    li {
        > :is(div.submenu-item, .choice-item) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > :first-child {
                flex-grow: 1;
            }
        }

        > .submenu-item {
            // Make an arrow
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-top: 0.4em solid transparent;
                border-bottom: 0.4em solid transparent;

                border-left: 0.4em solid black;

                margin-left: 1em;
            }
        }

        .kbd-shortcut {
            color: #666;
            background-color: rgba(255, 255, 255, 0.5);
            font-size: 0.9em;
            border: 1px solid #aaa;
            border-bottom-width: 2px;
            border-radius: 3px;
            padding: 3px;
            line-height: 0.7em;
            margin-left: 0.5em;
        }

        > .disabled-item {
            color: #999;
        }
    }

    a.menu-ellipsis {
        padding: 0;
        display: flex;
        align-items: center;

        position: absolute;
        top: 0px;
        right: $menu-item-h-padding * 0.5;
        height: $menu-line-height;

        background-color: $menu-hover-bg-color;
        border-radius: 3em;

        color: #707070;

        svg {
            margin: 0;
            width: $menu-line-height;
        }

        &:hover {
            background-color: color.scale(
                $menu-hover-bg-color,
                $lightness: 30%
            );
        }
    }

    li:not(:hover) a.menu-ellipsis {
        display: none;
    }

    .gs-input-binding {
        margin: 0 $menu-item-h-padding;
        line-height: normal;

        .description {
            margin-bottom: 0.2em;
        }
    }
}

.gs-dropdown-menu-right {
    right: 0;
}

.gs-context-menu-backdrop {
    position: fixed;
    z-index: 100;
    inset: 0;
}

.gs-context-menu {
    position: fixed;
    z-index: 100;
}

.gs-dropdown-menu {
    overflow: auto;
    position: absolute;

    display: none;
    z-index: 1;
    width: max-content;

    // Checkbox stuff --------------------

    ul {
        padding-left: 1.5em;
        list-style: none;
    }

    > li > ul {
        padding-left: 0;
    }
}

label.checkbox {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        flex: none;
        margin-right: 0.5em;
    }
}

.gs-tabs {
    margin: 0;

    .tabs {
        display: flex;
        list-style: none;
        padding: 0;
        margin-top: 0;

        &::after {
            flex-grow: 1;
            content: "";
            display: block;
            border-bottom: 1px solid $dialog-stroke-color;
        }

        button {
            font-size: 1em;
            background-color: transparent;
            align-items: center;
            padding: 0.6em $basic-spacing;

            border: 1px solid $dialog-stroke-color;

            $radius: 5px;
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            cursor: pointer;
        }

        > li:not(:first-child) > button {
            margin-left: -1px;
        }

        .active-tab button {
            border-bottom-color: transparent;
        }

        :not(.active-tab) button {
            border-color: transparent;
            border-bottom-color: $dialog-stroke-color;
        }
    }

    .panes > :not(.active-tab) {
        display: none;
    }
}

.gs-alert {
    display: flex;
    align-items: center;

    position: relative;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: 0.25rem;

    > svg:first-child {
        width: 2em;
        height: 2em;
        margin-right: 0.8em;
    }

    &.warning {
        color: #664d03;
        background-color: #fff3cd;
        border-color: #ffecb5;
    }

    &.info {
        color: #055160;
        background-color: #cff4fc;
        border-color: #b6effb;
    }
}

$form-control-color: #212529;
$form-control-border-color: #ced4da;
$form-control-border: 1px solid $form-control-border-color;

.gs-form-group {
    > p:first-child {
        margin-top: 0;
    }

    &:not(:first-child) {
        margin-top: 0.5em;
    }

    label,
    div.label {
        display: inline-block;
        margin-bottom: 0.5em;
    }

    input[type="range"] {
        display: block;
        width: 100%;
    }

    input[type="text"],
    input[type="number"],
    select,
    textarea {
        display: block;
        width: 100%;
        padding: 0.375em 0.75em;
        font-size: 1em;
        font-family: $font-family;
        line-height: 1.5;
        color: $form-control-color;
        background-color: #fff;
        background-clip: padding-box;
        border: $form-control-border;
        border-radius: 0.25em;
        transition:
            border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;

        /*
        // Doesn't work reliably
        &:invalid:not(:focus) {
            border-color: red;
            box-shadow: 0 0 5px 0px red;
        }
        */

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &::placeholder {
            color: #a0a0a0;
        }
    }

    select {
        // Copy-pasted from Bootstrap 5.1
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        appearance: none;
    }

    small {
        display: block;
        margin-top: 0.25rem;
        color: #606060;
    }

    .threshold-flex {
        display: flex;
        gap: $basic-spacing;

        &:not(:last-child) {
            margin-bottom: $basic-spacing;
        }

        * {
            margin-bottom: 0 !important; // TODO: without important
        }

        > :first-child {
            width: 5em;
        }

        > :last-child {
            padding: 0 $basic-spacing;
        }
    }
}

.gs-checkbox-list-wrapper {
    position: relative;

    .search-note {
        position: absolute;
        inset: 0;
        display: grid;
        justify-content: center;
        align-content: center;

        color: #808080;
        font-size: 85%;

        pointer-events: none;

        > * {
            position: relative;
            top: 0.7em;
        }
    }
}

.gs-checkbox-list {
    color: $form-control-color;
    border: $form-control-border;
    border-radius: 0.25em;
    overflow: auto;
    max-height: 200px;

    padding: 0.375em 0.75em;

    margin: 0;

    .color {
        display: inline-block;
        width: 0.5em;
        height: 1em;
        margin-right: 0.4em;
    }

    li {
        list-style: none;
    }

    label.checkbox {
        margin-bottom: 0;

        &:hover {
            background-color: #f4f4f4;
        }
    }

    .hidden {
        display: none;
    }
}
