@use "sass:math";
@use "sass:color";

/*
 * Styles that may be useful outside the App
 */

$basic-spacing: 10px;
$dialog-stroke-color: #d0d0d0;

// https://css-tricks.com/snippets/css/system-font-stack/
$font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size: 14px;

:root {
    --gs-font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --gs-font-size: 14px;
    --gs-basic-spacing: 10px;
}

$menu-hover-bg-color: #e0e0e0;
$menu-active-bg-color: #e8e8e8;
$menu-item-h-padding: 15px;
$menu-line-height: 22px;

.gs-menu,
.gs-context-menu,
.gs-dropdown-menu {
    margin: 0;
    padding: 7px 0;
    background: #f6f6f6;
    border: #e0e0e0;
    border-radius: 2px;

    // Ensure that toobar menus fit into the window
    max-height: calc(100vh - 60px);
    overflow-y: auto;

    z-index: 100;

    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.21);

    cursor: default;

    line-height: $menu-line-height;
    font-size: 13px;

    font-family: $font-family;

    li {
        display: block;
        list-style: none;
        position: relative;
        padding: 0;

        &.active > :is(a:first-child, .submenu-item) {
            background-color: $menu-active-bg-color;
        }
        > :is(a:first-child, label, .submenu-item):hover {
            background-color: $menu-hover-bg-color;
        }

        > span.disabled-item,
        > a:first-child {
            display: block;

            svg:first-child {
                width: 1em;
                margin-right: 0.2em;
            }
        }
    }

    .context {
        font-size: 0.9em;
        color: #666;

        &::before {
            content: "(";
        }
        &::after {
            content: ")";
        }
    }

    .menu-divider {
        margin: 5px 0;
        border-top: 1px solid #e0e0e0;
    }

    .menu-header,
    li > :is(span.disabled-item, a:first-child, .submenu-item, label) {
        padding-left: $menu-item-h-padding;
        padding-right: $menu-item-h-padding;
    }

    .menu-header {
        font-size: 12px;
        color: #666;
    }

    li {
        > :is(div.submenu-item, .choice-item) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > :first-child {
                flex-grow: 1;
            }
        }

        > .submenu-item {
            // Make an arrow
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-top: 0.4em solid transparent;
                border-bottom: 0.4em solid transparent;

                border-left: 0.4em solid black;

                margin-left: 1em;
            }
        }

        .kbd-shortcut {
            color: #666;
            background-color: rgba(255, 255, 255, 0.5);
            font-size: 0.9em;
            border: 1px solid #aaa;
            border-bottom-width: 2px;
            border-radius: 3px;
            padding: 3px;
            line-height: 0.7em;
            margin-left: 0.5em;
        }

        > .disabled-item {
            color: #999;
        }
    }

    a.menu-ellipsis {
        padding: 0;
        display: flex;
        align-items: center;

        position: absolute;
        top: 0px;
        right: $menu-item-h-padding * 0.5;
        height: $menu-line-height;

        background-color: $menu-hover-bg-color;
        border-radius: 3em;

        color: #707070;

        svg {
            margin: 0;
            width: $menu-line-height;
        }

        &:hover {
            background-color: color.scale(
                $menu-hover-bg-color,
                $lightness: 30%
            );
        }
    }

    li:not(:hover) a.menu-ellipsis {
        display: none;
    }

    .gs-input-binding {
        margin: 0 $menu-item-h-padding;
        line-height: normal;

        .description {
            margin-bottom: 0.2em;
        }
    }
}

.gs-dropdown-menu-right {
    right: 0;
}

.gs-context-menu-backdrop {
    position: fixed;
    z-index: 100;
    inset: 0;
}

.gs-context-menu {
    position: fixed;
    z-index: 100;
}

.gs-dropdown-menu {
    overflow: auto;
    position: absolute;

    display: none;
    z-index: 1;
    width: max-content;

    // Checkbox stuff --------------------

    ul {
        padding-left: 1.5em;
        list-style: none;
    }

    > li > ul {
        padding-left: 0;
    }
}

label.checkbox {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        flex: none;
        margin-right: 0.5em;
    }
}
