@use "generic";

$basic-spacing: generic.$basic-spacing;

:root {
    --gs-theme-primary: #6c82ab;
    --gs-theme-on-primary: #ffffff;
}

.genome-spy-app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    body > & {
        background-color: white;
    }

    // https://css-tricks.com/snippets/css/system-font-stack/
    font-family:
        system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    font-size: 14px;

    .genome-spy-container {
        position: relative;
        flex-grow: 1;
        overflow: hidden;
    }
}

.gs-toolbar,
.gs-toolbar .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gs-toolbar {
    --gs-toolbar-bg: var(--gs-theme-primary);
    --gs-toolbar-fg: var(--gs-theme-on-primary);
    --gs-toolbar-bg-hi: oklch(from var(--gs-toolbar-bg) calc(l + 0.06) c h);
    --gs-toolbar-bg-lo: oklch(from var(--gs-toolbar-bg) calc(l - 0.06) c h);
    --gs-toolbar-bg-dim: oklch(from var(--gs-toolbar-bg) calc(l - 0.05) c h);

    height: 38px;

    background-color: var(--gs-toolbar-bg);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    border-top: 1px solid var(--gs-toolbar-bg-hi);
    border-bottom: 1px solid var(--gs-toolbar-bg-lo);

    .spacer {
        flex-grow: 1;
    }

    .logo {
        display: block;

        img {
            vertical-align: middle;
            width: 34px;
        }
    }

    .vis-title,
    .version {
        color: var(--gs-toolbar-fg);
        font-weight: normal;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .version {
        text-decoration: none;
        font-size: 80%;
        opacity: 50%;
        &:visited {
            color: var(--gs-toolbar-fg);
        }
    }

    .search-input {
        font-size: 1em;
        background-color: var(--gs-toolbar-bg-dim);
        color: var(--gs-toolbar-fg);
        border: 1px solid oklch(from var(--gs-toolbar-bg) calc(l - 0.1) c h);
        width: 260px;
        padding: 3px 6px;
        outline: none;

        position: relative;
        box-shadow:
            0px 1px 3px rgba(0, 0, 0, 0.1) inset,
            1px 1px 0px oklch(from var(--gs-toolbar-bg) calc(l + 0.04) c h);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    .search-help {
        box-sizing: border-box;
        position: absolute;
        border: none;
        background: #f6f6f6;
        padding: $basic-spacing;
        z-index: 1000;
        visibility: hidden;

        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);

        font-size: 90%;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }

        opacity: 0;
        transition:
            opacity 0.2s,
            transform 0.2s ease-in-out,
            visibility 0.2s;

        transform: translate(0, 13px);

        p {
            margin-bottom: 0.5em;
        }

        ul {
            margin-top: 0.5em;
            padding-left: 2.5em;
        }

        li {
            cursor: pointer;
        }
    }

    .search:focus-within .search-help {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 3px);
    }

    > * {
        padding-left: $basic-spacing;

        &:last-child {
            margin-right: $basic-spacing;
        }
    }

    .tool-btn {
        padding: 0;
        font-size: 1.15em;

        transition: color 0.15s;

        --gs-toolbar-btn-bg: oklch(
            from var(--gs-toolbar-bg) calc(l + 0.03) c h
        );
        background-color: var(--gs-toolbar-btn-bg);
        background-image: linear-gradient(
            to bottom,
            oklch(
                from var(--gs-toolbar-btn-bg) calc(l + 0.05) calc(c - 0.005) h
            ),
            oklch(from var(--gs-toolbar-btn-bg) calc(l - 0.02) c h)
        );
        color: var(--gs-toolbar-fg);
        height: 26px;
        width: 30px;

        border: 1px solid;

        border-top-color: oklch(
            from var(--gs-toolbar-btn-bg) calc(l + 0.08) c h
        );
        border-left-color: oklch(
            from var(--gs-toolbar-btn-bg) calc(l + 0.03) c h
        );

        border-right-color: oklch(
            from var(--gs-toolbar-btn-bg) calc(l - 0.08) c h
        );
        border-bottom-color: oklch(
            from var(--gs-toolbar-btn-bg) calc(l - 0.12) c h
        );

        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        margin-left: $basic-spacing;

        display: flex;
        align-items: center;
        justify-content: center;

        > svg {
            filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
        }

        &:active {
            > * {
                position: relative;
                top: 1px;
            }
        }

        &:disabled {
            color: oklch(from var(--gs-toolbar-fg) l c h / 0.5);
        }

        &:hover:not(:disabled) {
            background-image: linear-gradient(
                to bottom,
                oklch(from var(--gs-toolbar-btn-bg) calc(l + 0.07) c h),
                oklch(from var(--gs-toolbar-btn-bg) calc(l + 0.01) c h)
            );

            > svg {
                filter: drop-shadow(0 0 3px rgba(150, 200, 255, 1));
            }
        }

        &:focus {
            outline: none;
            // TODO: Should be made visible, but
            /*
                outline-offset: 2px;
                outline: 1px dashed white;
                */
        }
    }

    .btn-group,
    .dropdown {
        .tool-btn {
            margin-left: 0;
        }
    }

    .dropdown {
        position: relative;

        &.show {
            .gs-dropdown-menu {
                display: block;
            }

            > button {
                background-image: linear-gradient(
                    to bottom,
                    oklch(from var(--gs-toolbar-bg) calc(l + 0.09) c h),
                    oklch(from var(--gs-toolbar-bg) calc(l + 0.06) c h)
                );
            }
        }
    }
}

.provenance-menu {
    .operator {
        // Make less/greater-than-or-equal symbols clearer
        font-size: 125%;
        line-height: 0.8;
    }
}

.gs-dropdown-menu.provenance-menu {
    .active-state {
        $tickSize: 5px;

        background-color: #e0e0e0;
        border-left: $tickSize solid #c0c0c0;
        padding-left: generic.$menu-item-h-padding - $tickSize;
    }
}

.gs-suppress-tooltip .genome-spy .tooltip {
    display: none;
}
