@use "sass:math";
@use "sass:color";

@use "generic";

$basic-spacing: generic.$basic-spacing;

.genome-spy-app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    body > & {
        background-color: white;
    }

    // https://css-tricks.com/snippets/css/system-font-stack/
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    font-size: 14px;

    .genome-spy-container {
        position: relative;
        flex-grow: 1;
        overflow: hidden;
    }
}

.gs-toolbar,
.gs-toolbar .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gs-toolbar {
    $background: #6c82ab;
    $foreground: white;

    height: 38px;

    background-color: $background;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    border-top: 1px solid color.adjust($background, $lightness: 15%);
    border-bottom: 1px solid color.adjust($background, $lightness: -15%);

    .spacer {
        flex-grow: 1;
    }

    .logo {
        display: block;

        img {
            vertical-align: middle;
            width: 34px;
        }
    }

    .vis-title,
    .version {
        color: $foreground;
        font-weight: normal;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .version {
        text-decoration: none;
        font-size: 80%;
        opacity: 50%;
        &:visited {
            color: $foreground;
        }
    }

    .search-input {
        font-size: 1em;
        background-color: color.adjust($background, $lightness: -5%);
        color: $foreground;
        border: 1px solid color.adjust($background, $lightness: -10%);
        width: 260px;
        padding: 3px 6px;
        outline: none;

        position: relative;
        box-shadow:
            0px 1px 3px rgba(0, 0, 0, 0.1) inset,
            1px 1px 0px color.adjust($background, $lightness: 4%);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    .search-help {
        box-sizing: border-box;
        position: absolute;
        border: none;
        background: #f6f6f6;
        padding: $basic-spacing;
        z-index: 1000;
        visibility: hidden;

        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);

        font-size: 90%;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }

        opacity: 0;
        transition:
            opacity 0.2s,
            transform 0.2s ease-in-out,
            visibility 0.2s;

        transform: translate(0, 13px);

        p {
            margin-bottom: 0.5em;
        }

        ul {
            margin-top: 0.5em;
            padding-left: 2.5em;
        }

        li {
            cursor: pointer;
        }
    }

    .search:focus-within .search-help {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 3px);
    }

    > * {
        padding-left: $basic-spacing;

        &:last-child {
            margin-right: $basic-spacing;
        }
    }

    .tool-btn {
        padding: 0;
        font-size: 1.15em;

        transition: color 0.15s;

        $color: color.adjust($background, $lightness: 5%);
        background-color: $color;
        background-image: linear-gradient(
            to bottom,
            color.adjust($color, $lightness: 3%),
            color.adjust($color, $lightness: -3%)
        );
        color: $foreground;
        height: 26px;
        width: 30px;

        border: 1px solid;

        border-top-color: color.adjust($color, $lightness: 10%);
        border-left-color: color.adjust($color, $lightness: 2%);

        border-right-color: color.adjust($color, $lightness: -10%);
        border-bottom-color: color.adjust($color, $lightness: -20%);

        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        margin-left: $basic-spacing;

        display: flex;
        align-items: center;
        justify-content: center;

        > svg {
            filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
        }

        &:active {
            > * {
                position: relative;
                top: 1px;
            }
        }

        &:disabled {
            color: color.mix($background, $foreground, $weight: 50%);
        }

        &:hover:not(:disabled) {
            background-image: linear-gradient(
                to bottom,
                color.adjust($color, $lightness: 5%),
                color.adjust($color, $lightness: 0%)
            );

            > svg {
                filter: drop-shadow(0 0 3px rgba(150, 200, 255, 1));
            }
        }

        &:focus {
            outline: none;
            // TODO: Should be made visible, but
            /*
                outline-offset: 2px;
                outline: 1px dashed white;
                */
        }
    }

    .btn-group,
    .dropdown {
        .tool-btn {
            margin-left: 0;
        }
    }

    .dropdown {
        position: relative;

        &.show {
            .gs-dropdown-menu {
                display: block;
            }

            > button {
                background-image: linear-gradient(
                    to bottom,
                    color.adjust($background, $lightness: 12%),
                    color.adjust($background, $lightness: 8%)
                );
            }
        }
    }
}

.provenance-menu {
    .operator {
        // Make less/greater-than-or-equal symbols clearer
        font-size: 125%;
        line-height: 0.8;
    }
}

.gs-dropdown-menu.provenance-menu {
    .active-state {
        $tickSize: 5px;

        background-color: #e0e0e0;
        border-left: $tickSize solid #c0c0c0;
        padding-left: generic.$menu-item-h-padding - $tickSize;
    }
}

.gs-suppress-tooltip .genome-spy .tooltip {
    display: none;
}
