@use "sass:math";
@use "sass:color";

$basic-spacing: 10px;
$dialog-stroke-color: #d0d0d0;

// https://css-tricks.com/snippets/css/system-font-stack/
$font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size: 14px;

.genome-spy-app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    body > & {
        background-color: white;
    }

    font-family: $font-family;
    font-size: $font-size;

    .genome-spy-container {
        position: relative;
        flex-grow: 1;
        overflow: hidden;
    }
}

.gs-toolbar,
.gs-toolbar .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gs-toolbar {
    $background: #6c82ab;
    $foreground: white;

    height: 38px;

    background-color: $background;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    border-top: 1px solid color.adjust($background, $lightness: 15%);
    border-bottom: 1px solid color.adjust($background, $lightness: -15%);

    .spacer {
        flex-grow: 1;
    }

    .logo {
        display: block;

        img {
            vertical-align: middle;
            width: 34px;
        }
    }

    .vis-title,
    .version {
        color: $foreground;
        font-weight: normal;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .version {
        text-decoration: none;
        font-size: 80%;
        opacity: 50%;
        &:visited {
            color: $foreground;
        }
    }

    .search-input {
        font-size: 1em;
        background-color: color.adjust($background, $lightness: -5%);
        color: $foreground;
        border: 1px solid color.adjust($background, $lightness: -10%);
        width: 260px;
        padding: 3px 6px;
        outline: none;

        position: relative;
        box-shadow:
            0px 1px 3px rgba(0, 0, 0, 0.1) inset,
            1px 1px 0px color.adjust($background, $lightness: 4%);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    .search-help {
        box-sizing: border-box;
        position: absolute;
        border: none;
        background: #f6f6f6;
        padding: $basic-spacing;
        z-index: 1000;
        visibility: hidden;

        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);

        font-size: 90%;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }

        opacity: 0;
        transition:
            opacity 0.2s,
            transform 0.2s ease-in-out,
            visibility 0.2s;

        transform: translate(0, 13px);

        p {
            margin-bottom: 0.5em;
        }

        ul {
            margin-top: 0.5em;
            padding-left: 2.5em;
        }

        li {
            cursor: pointer;
        }
    }

    .search:focus-within .search-help {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 3px);
    }

    > * {
        padding-left: $basic-spacing;

        &:last-child {
            margin-right: $basic-spacing;
        }
    }

    .tool-btn {
        padding: 0;
        font-size: 1.15em;

        transition: color 0.15s;

        $color: color.adjust($background, $lightness: 5%);
        background-color: $color;
        background-image: linear-gradient(
            to bottom,
            color.adjust($color, $lightness: 3%),
            color.adjust($color, $lightness: -3%)
        );
        color: $foreground;
        height: 26px;
        width: 30px;

        border: 1px solid;

        border-top-color: color.adjust($color, $lightness: 10%);
        border-left-color: color.adjust($color, $lightness: 2%);

        border-right-color: color.adjust($color, $lightness: -10%);
        border-bottom-color: color.adjust($color, $lightness: -20%);

        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        margin-left: $basic-spacing;

        display: flex;
        align-items: center;
        justify-content: center;

        > svg {
            filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
        }

        &:active {
            > * {
                position: relative;
                top: 1px;
            }
        }

        &:disabled {
            color: color.mix($background, $foreground, $weight: 50%);
        }

        &:hover:not(:disabled) {
            background-image: linear-gradient(
                to bottom,
                color.adjust($color, $lightness: 5%),
                color.adjust($color, $lightness: 0%)
            );

            > svg {
                filter: drop-shadow(0 0 3px rgba(150, 200, 255, 1));
            }
        }

        &:focus {
            outline: none;
            // TODO: Should be made visible, but
            /*
                outline-offset: 2px;
                outline: 1px dashed white;
                */
        }
    }

    .btn-group,
    .dropdown {
        .tool-btn {
            margin-left: 0;
        }
    }

    .dropdown {
        position: relative;

        &.show {
            .gs-dropdown-menu {
                display: block;
            }

            > button {
                background-image: linear-gradient(
                    to bottom,
                    color.adjust($background, $lightness: 12%),
                    color.adjust($background, $lightness: 8%)
                );
            }
        }
    }
}

$menu-hover-bg-color: #e0e0e0;
$menu-active-bg-color: #e8e8e8;
$menu-item-h-padding: 15px;
$menu-line-height: 22px;

:is(.gs-menu, .gs-context-menu, .gs-dropdown-menu) {
    margin: 0;
    padding: 7px 0;
    background: #f6f6f6;
    border: #e0e0e0;
    border-radius: 2px;

    // Ensure that toobar menus fit into the window
    max-height: calc(100vh - 60px);
    overflow-y: auto;

    z-index: 100;

    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.21);

    cursor: default;

    line-height: $menu-line-height;
    font-size: 13px;

    font-family: $font-family;

    li {
        display: block;
        list-style: none;
        position: relative;
        padding: 0;

        &.active > :is(a:first-child, .submenu-item) {
            background-color: $menu-active-bg-color;
        }
        > :is(a:first-child, label, .submenu-item):hover {
            background-color: $menu-hover-bg-color;
        }

        > span.disabled-item,
        > a:first-child {
            display: block;

            svg:first-child {
                width: 1em;
                margin-right: 0.2em;
            }
        }
    }

    .context {
        font-size: 0.9em;
        color: #666;

        &::before {
            content: "(";
        }
        &::after {
            content: ")";
        }
    }

    .menu-divider {
        margin: 5px 0;
        border-top: 1px solid #e0e0e0;
    }

    .menu-header,
    li > :is(span.disabled-item, a:first-child, .submenu-item, label) {
        padding-left: $menu-item-h-padding;
        padding-right: $menu-item-h-padding;
    }

    .menu-header {
        font-size: 12px;
        color: #666;
    }

    li {
        > :is(div.submenu-item, .choice-item) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > :first-child {
                flex-grow: 1;
            }
        }

        > .submenu-item {
            // Make an arrow
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-top: 0.4em solid transparent;
                border-bottom: 0.4em solid transparent;

                border-left: 0.4em solid black;

                margin-left: 1em;
            }
        }

        .kbd-shortcut {
            color: #666;
            background-color: rgba(255, 255, 255, 0.5);
            font-size: 0.9em;
            border: 1px solid #aaa;
            border-bottom-width: 2px;
            border-radius: 3px;
            padding: 3px;
            line-height: 0.7em;
            margin-left: 0.5em;
        }

        > .disabled-item {
            color: #999;
        }
    }

    a.menu-ellipsis {
        padding: 0;
        display: flex;
        align-items: center;

        position: absolute;
        top: 0px;
        right: $menu-item-h-padding * 0.5;
        height: $menu-line-height;

        background-color: $menu-hover-bg-color;
        border-radius: 3em;

        color: #707070;

        svg {
            margin: 0;
            width: $menu-line-height;
        }

        &:hover {
            background-color: color.scale(
                $menu-hover-bg-color,
                $lightness: 30%
            );
        }
    }

    li:not(:hover) a.menu-ellipsis {
        display: none;
    }

    .gs-input-binding {
        margin: 0 $menu-item-h-padding;
        line-height: normal;

        .description {
            margin-bottom: 0.2em;
        }
    }
}

.provenance-menu {
    .operator {
        // Make less/greater-than-or-equal symbols clearer
        font-size: 125%;
        line-height: 0.8;
    }
}

.gs-context-menu-backdrop {
    position: fixed;
    z-index: 100;
    inset: 0;
}

.gs-context-menu {
    position: fixed;
    z-index: 100;
}

.gs-dropdown-menu {
    overflow: auto;
    position: absolute;

    display: none;
    z-index: 1;
    width: max-content;

    // Checkbox stuff --------------------

    ul {
        padding-left: 1.5em;
        list-style: none;
    }

    > li > ul {
        padding-left: 0;
    }
}

.gs-dropdown-menu.provenance-menu {
    .active-state {
        $tickSize: 5px;

        background-color: #e0e0e0;
        border-left: $tickSize solid #c0c0c0;
        padding-left: $menu-item-h-padding - $tickSize;
    }
}

.gs-modal {
    z-index: 101;

    font-family: $font-family;
    font-size: $font-size;

    position: fixed;
    inset: 0;

    .backdrop {
        position: absolute;
        inset: 0;
        background-color: rgb(75, 75, 75);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    display: grid;
    justify-content: center;
    align-content: center;

    .content {
        z-index: 1;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.21);
        background: white;
        border-radius: 3px;
        min-width: 300px;
        opacity: 0;
        transform: translate(0, -15px);
        transition:
            opacity 0.2s ease-in-out,
            transform 0.2s ease-in-out;
    }

    &.visible {
        .backdrop {
            opacity: 0.4;
        }

        .content {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    .modal-body,
    .modal-title,
    .modal-buttons {
        padding: $basic-spacing;
    }

    .modal-title {
        font-weight: bold;
        padding-bottom: 0;
    }

    .modal-body {
        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    .modal-buttons {
        display: flex;
        justify-content: flex-end;
        gap: $basic-spacing;

        border-top: 1px solid $dialog-stroke-color;
    }

    .btn {
        display: inline-block;
        padding: 4px 12px;
        margin: 0;
        font-size: 1em;
        line-height: 20px;
        color: #333333;
        text-align: center;
        text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
        vertical-align: middle;
        background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
        border: 1px solid #cccccc;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-bottom-color: #b3b3b3;
        border-radius: 4px;
        box-shadow:
            inset 0 1px 0 rgb(255 255 255 / 20%),
            0 1px 2px rgb(0 0 0 / 5%);

        transition: color 0.15s;

        &:hover:not(:disabled) {
            background-image: linear-gradient(to bottom, #f8f8f8, #d8d8d8);
        }

        &:active {
            border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2)
                rgba(0, 0, 0, 0.5);
        }

        &:disabled {
            color: #a0a0a0;
        }

        &:not(:disabled) {
            cursor: pointer;
        }

        svg:first-child:not(:last-child) {
            font-size: 85%;
            margin-right: 0.3em;
        }

        svg:last-child:not(:first-child) {
            font-size: 85%;
            margin-left: 0.3em;
        }
    }

    .btn-group {
        display: flex;

        // TODO: Extract to another class
        font-size: 1.3em;

        // TODO: This too
        margin-bottom: $basic-spacing;

        .btn {
            flex-grow: 1;
        }

        .btn:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px;
        }
        .btn:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .btn.chosen {
            background-image: linear-gradient(to bottom, #f0f0f0, #d8d8d8);
            box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
        }
    }

    &.tour {
        pointer-events: none;

        justify-content: right;
        align-content: end;

        &.visible .backdrop {
            opacity: 1;
        }

        .backdrop {
            pointer-events: none;

            background: linear-gradient(
                160deg,
                transparent 70%,
                rgba(0, 0, 0, 0.2)
            );
        }

        .content {
            pointer-events: all;
            margin: $basic-spacing;
            box-shadow:
                0px 3px 15px 0px rgba(0, 0, 0, 0.21),
                0px 2px 5px 0px rgba(0, 0, 0, 0.21);
        }

        .modal-title {
            padding-right: 3em;
        }

        .markdown {
            img {
                max-width: 350px;
                display: block;
                margin: 1em auto;
            }

            p:first-child {
                margin-top: 0;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }
    }

    .collapse {
        all: unset;
        position: absolute;
        right: $basic-spacing;
        top: $basic-spacing;
        background: none;
        border: none;
        font-size: 1.1em;

        border-radius: 2px;
        padding: 0 0.2em;
        cursor: pointer;

        &:focus {
            outline: revert;
        }

        svg {
            transition: transform 0.5s;
        }

        &:hover {
            background-color: #e8e8e8;
        }
    }

    &:not(.collapsed) .content:not(:hover) .collapse {
        animation: move 0.25s 0.5s 3 linear;

        @keyframes move {
            0% {
                transform: translateY(0);
            }
            25% {
                transform: translateY(-2px);
            }
            75% {
                transform: translateY(2px);
            }
            100% {
                transform: translateY(0);
            }
        }
    }

    &.collapsed {
        > .content > :not(:is(.modal-title, .collapse)) {
            display: none;
        }

        .modal-title {
            padding-bottom: $basic-spacing;
        }

        .collapse {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    a {
        color: #5570a2;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    * {
        box-sizing: border-box;
    }
}

$form-control-color: #212529;
$form-control-border-color: #ced4da;
$form-control-border: 1px solid $form-control-border-color;

.gs-checkbox-list-wrapper {
    position: relative;

    .search-note {
        position: absolute;
        inset: 0;
        display: grid;
        justify-content: center;
        align-content: center;

        color: #808080;
        font-size: 85%;

        pointer-events: none;

        > * {
            position: relative;
            top: 0.7em;
        }
    }
}

.gs-checkbox-list {
    color: $form-control-color;
    border: $form-control-border;
    border-radius: 0.25em;
    overflow: auto;
    max-height: 200px;

    padding: 0.375em 0.75em;

    margin: 0;

    .color {
        width: 0.5em;
        height: 1em;
        margin-right: 0.4em;
    }

    li {
        list-style: none;
    }

    label.checkbox {
        margin-bottom: 0;

        &:hover {
            background-color: #f4f4f4;
        }
    }

    .hidden {
        display: none;
    }
}

.gs-form-group {
    > p:first-child {
        margin-top: 0;
    }

    &:not(:first-child) {
        margin-top: 0.5em;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5em;
    }

    input[type="text"],
    input[type="number"],
    select,
    textarea {
        display: block;
        width: 100%;
        padding: 0.375em 0.75em;
        font-size: 1em;
        font-family: $font-family;
        line-height: 1.5;
        color: $form-control-color;
        background-color: #fff;
        background-clip: padding-box;
        border: $form-control-border;
        border-radius: 0.25em;
        transition:
            border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;

        /*
        // Doesn't work reliably
        &:invalid:not(:focus) {
            border-color: red;
            box-shadow: 0 0 5px 0px red;
        }
        */

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &::placeholder {
            color: #a0a0a0;
        }
    }

    select {
        // Copy-pasted from Bootstrap 5.1
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        appearance: none;
    }

    small {
        display: block;
        margin-top: 0.25rem;
        color: #606060;
    }

    .threshold-flex {
        display: flex;
        gap: $basic-spacing;

        &:not(:last-child) {
            margin-bottom: $basic-spacing;
        }

        * {
            margin-bottom: 0 !important; // TODO: without important
        }

        > :first-child {
            width: 5em;
        }

        > :last-child {
            padding: 0 $basic-spacing;
        }
    }
}

.group-by-thresholds-form {
    width: 25em;

    .group-color {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
    }

    .threshold-groups {
        margin-top: $basic-spacing;

        text-align: left;
        font-size: 90%;

        :is(th, td) {
            padding-right: 1em;

            &:nth-child(2) {
                min-width: 9em;
            }
        }
    }
}

.group-arbitrarily-form {
    span.na {
        color: gray;
        font-style: italic;
        font-size: 90%;
    }

    span.color {
        display: inline-block;
        width: 0.7em;
        height: 1em;
        margin-right: 0.7em;
    }

    div.table {
        color: $form-control-color;
        border: $form-control-border;
        border-radius: 0.25em;
        overflow-x: auto;
        max-height: 20em;

        padding: 0.375em 0.75em;
        padding-top: 0;

        margin: 0;

        table {
            position: relative;
            border-collapse: collapse;
        }

        td:first-child {
            padding-right: 0.7em;
        }

        th {
            text-align: left;
            background: white;
            background: linear-gradient(
                rgba(255, 255, 255, 1) 0%,
                rgba(253, 253, 255, 1) 90%,
                rgba(255, 255, 255, 0) 100%
            );

            position: sticky;
            top: 0;

            padding-top: 0.55em;
            padding-bottom: 0.375em;
        }
    }

    &.gs-form-group select {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }
}

.gs-alert {
    display: flex;
    align-items: center;

    position: relative;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: 0.25rem;

    > svg:first-child {
        width: 2em;
        height: 2em;
        margin-right: 0.8em;
    }

    &.warning {
        color: #664d03;
        background-color: #fff3cd;
        border-color: #ffecb5;
    }

    &.info {
        color: #055160;
        background-color: #cff4fc;
        border-color: #b6effb;
    }
}

.gs-tabs {
    margin: 0;

    .tabs {
        display: flex;
        list-style: none;
        padding: 0;
        margin-top: 0;

        &::after {
            flex-grow: 1;
            content: "";
            display: block;
            border-bottom: 1px solid $dialog-stroke-color;
        }

        button {
            font-size: 1em;
            background-color: transparent;
            align-items: center;
            padding: 0.6em $basic-spacing;

            border: 1px solid $dialog-stroke-color;

            $radius: 5px;
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            cursor: pointer;
        }

        > li:not(:first-child) > button {
            margin-left: -1px;
        }

        .active-tab button {
            border-bottom-color: transparent;
        }

        :not(.active-tab) button {
            border-color: transparent;
            border-bottom-color: $dialog-stroke-color;
        }
    }

    .panes > :not(.active-tab) {
        display: none;
    }
}

.copy-url {
    position: relative;

    button {
        $color: rgb(66, 127, 240);
        position: absolute;

        $pad: 0.4em;
        right: $pad;
        top: $pad;
        bottom: $pad;

        box-shadow: 0 0 $pad * 0.5 $pad * 0.5 white;

        border: 1px solid $color;
        border-radius: 3px;
        color: $color;
        background-color: white;

        &:hover {
            color: white;
            background-color: $color;
        }
    }
}

label.checkbox {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        flex: none;
        margin-right: 0.5em;
    }
}

.gs-suppress-tooltip .genome-spy .tooltip {
    display: none;
}

.histogram-widget {
    position: relative;

    $grid-color: #333;
    $background-color: #f0f0f0;

    .histogram-plot {
        position: relative;
    }

    .histogram-bars {
        position: relative;
        height: 4em;
        background-color: $background-color;

        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
        overflow: hidden;

        > div {
            position: absolute;
            background-color: #808080;
        }
    }

    .histogram-thresholds {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;

        .histogram-threshold {
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: black;
        }

        .histogram-knob {
            $size: 1.2em;
            position: absolute;
            top: -$size * 0.5;
            left: calc(0.5px - $size * 0.5);
            width: $size;
            height: $size;
            border-radius: $size;

            background: black;
            color: white;

            font-size: 80%;
            text-align: center;
            vertical-align: middle;

            cursor: col-resize;
        }
    }

    .histogram-domain {
        position: absolute;
        width: 100%;

        height: 0.5em;

        border: 1px solid $grid-color;
        border-bottom-style: none;
    }

    .histogram-extent {
        display: flex;
        justify-content: space-between;

        font-size: 90%;

        > div {
            margin: 0.1em 0.3em;
            margin-bottom: 0;
        }
    }

    .histogram-hint {
        position: absolute;
        inset: 0;
        font-size: 85%;

        display: flex;
        align-items: center;
        justify-content: center;

        pointer-events: none;

        opacity: 0;
        transition: opacity 0.3s;

        &.visible {
            opacity: 1;
        }

        span {
            position: relative;
            top: -30%;

            background-color: color.change($background-color, $alpha: 0.7);
            color: #333;
            cursor: default;
        }
    }
}

.gs-data-flow-debugger {
    ul.gs-data-flow-hierarchy {
        border: $form-control-border;
        border-radius: 0.25em;

        max-height: calc(50vh - 5em);
        overflow: auto;

        padding-inline-start: 2em;
        ul {
            padding-inline-start: 1em;
        }

        li {
            list-style-type: disc;
        }

        .active {
            background-color: #a0c0ff;
        }
    }

    pre {
        font-size: 90%;
    }

    span[tabindex] {
        cursor: pointer;
    }

    .inline-stats {
        color: #aaa;
    }

    .panes {
        height: calc(30vh - 5em);
        overflow: auto;

        > div {
            > *:first-child {
                margin-top: 0;
            }
        }
    }
}
