$basic-spacing: 10px;

.genome-spy-app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    font-family: sans-serif;

    .toolbar {
        $background: #6c82ab;

        height: 38px;

        display: flex;
        flex-direction: row;
        align-items: center;

        background-color: $background;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

        border-top: 1px solid lighten($background, 20%);
        border-bottom: 1px solid darken($background, 15%);

        .title {
            color: white;
            font-size: 18px;
            font-weight: normal;
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        }

        .search-input {
            background-color: darken($background, 5%);
            color: white;
            border: 1px solid darken($background, 10%);
            font-size: 14px;
            width: 300px;
            padding: 3px 6px;

            position: relative;
        }

        .search-help {
            box-sizing: border-box;
            position: absolute;
            border: none;
            background: #f6f6f6;
            font-size: 14px;
            padding: $basic-spacing;
            z-index: 1000;
            visibility: hidden;

            box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);

            > :first-child {
                margin-top: 0;
            }

            opacity: 0;
            transition: opacity 0.20s, transform 0.20s ease-in-out;

            transform: translate(0, 10px);

            &.visible {
                opacity: 1;
                transform: translate(0, 0);
            }
        }


        > * {
            padding-left: $basic-spacing;
        }

        .tool-btn {
            $color: lighten($background, 7%);
            background-color: $color;
            background-image: linear-gradient(to bottom, lighten($color, 3%), darken($color, 3%));
            color: white;
            height: 26px;
            width: 30px;
            border: 1px solid darken($color, 10%);
            border-bottom-color: darken($color, 20%);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            margin-left: $basic-spacing;

        }
    }

    .genome-spy-container {
        position: relative;
        flex-grow: 1;
        margin: $basic-spacing;
    }
}