#annotation-menu {
    z-index: 1;
    padding: 1em;
    background: white;
    border: 1px solid #999;
    box-shadow: 0 2px 8px #0003;
}

#annotation-menu form,
#annotation-menu label {
    display: grid;
    gap: 0.5em;
}

#annotation-menu form {
    gap: 1em;
}
