.embed-container {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 230px;
}

.hidden-spec .embed-spec {
    display: none;
}

.hidden-spec .show-spec {
    text-align: center;
    font-size: 75%;
    position: relative;
    top: -1em;
}

:not(.hidden-spec) > .show-spec {
    display: none;
}

.md-typeset dl dd {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.md-typeset dl p {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.md-typeset dl span.required {
    margin-left: 1em;
    color: #888;
    font-size: 80%;
}

.md-typeset {
    line-height: 1.4;
}

.md-typeset :is(h1, h2) {
    font-weight: normal;
}
