$basic-spacing: 10px;

.genome-spy-app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    font-family: sans-serif;

    .toolbar,
    .toolbar > .btn-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .toolbar {
        $background: #6c82ab;
        $foreground: white;

        height: 38px;

        background-color: $background;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

        border-top: 1px solid lighten($background, 20%);
        border-bottom: 1px solid darken($background, 15%);

        .spacer {
            flex-grow: 1;
        }

        .title {
            color: $foreground;
            font-size: 18px;
            font-weight: normal;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        }

        .vis-title {
            color: $foreground;
            font-size: 14px;
            font-weight: normal;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        }

        .search-input {
            background-color: darken($background, 5%);
            color: $foreground;
            border: 1px solid darken($background, 10%);
            font-size: 14px;
            width: 260px;
            padding: 3px 6px;

            position: relative;
        }

        .search-help {
            box-sizing: border-box;
            position: absolute;
            border: none;
            background: #f6f6f6;
            font-size: 14px;
            padding: $basic-spacing;
            z-index: 1000;
            visibility: hidden;

            box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);

            > :first-child {
                margin-top: 0;
            }

            opacity: 0;
            transition: opacity 0.2s, transform 0.2s ease-in-out,
                visibility 0.2s;

            transform: translate(0, 10px);

            li {
                cursor: pointer;
            }
        }

        .search:focus-within .search-help {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
        }

        > * {
            padding-left: $basic-spacing;

            &:last-child {
                margin-right: $basic-spacing;
            }
        }

        .tool-btn {
            padding: 0;

            transition: color 0.15s;

            $color: lighten($background, 5%);
            background-color: $color;
            background-image: linear-gradient(
                to bottom,
                lighten($color, 3%),
                darken($color, 3%)
            );
            color: $foreground;
            height: 26px;
            width: 30px;

            border: 1px solid;

            border-top-color: lighten($color, 5%);
            border-left-color: lighten($color, 2%);

            border-right-color: darken($color, 10%);
            border-bottom-color: darken($color, 20%);

            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            margin-left: $basic-spacing;

            display: flex;
            align-items: center;
            justify-content: center;

            > svg {
                transform: scale(1.25);
            }

            &:active {
                background-color: darken($color, 15%); // TODO: Not workin!

                > * {
                    position: relative;
                    top: 1px;
                }
            }

            &:disabled {
                background-color: $background;

                color: mix($background, $foreground, 50%);
            }

            &:focus {
                outline: none;
            }
        }

        .btn-group {
            .tool-btn {
                margin-left: 0;
            }
        }

        .dropdown {
            position: relative;

            .dropdown-menu {
                display: none;
                z-index: 1;
                position: absolute;
                top: 30px;
                background-color: #f8f8f8;

                // TODO: Same as in context menu
                font-size: 13px;

                padding: 7px;

                ol,
                ul {
                    margin: 0;
                    padding-left: 15px;
                }
            }

            &.show .dropdown-menu {
                display: block;
            }
        }

        .provenance-dropdown {
            a.active {
                background-color: #e0e0e0;
            }

            a {
                display: block;
                cursor: pointer;
            }
        }
    }

    .genome-spy-container {
        position: relative;
        flex-grow: 1;
    }
}
