$basic-spacing: 10px;

.genome-spy {
    display: flex;
    flex-direction: column;

    position: relative;

    .loading-message {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;

        align-items: center;
        justify-content: center;

        .message {
            color: #666;
            opacity: 0;
            transition: opacity 0.7s;
        }
    }

    .track-stack {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;

        transform: scale(1, 1);
        opacity: 1;
        transition: opacity 0.7s, transform 0.7s;
    }

    &.loading {
        .track-stack {
            transform: scale(0.95, 0.95);
            opacity: 0;
        }

        .loading-message .message {
            opacity: 1;
        }
    }

    .viewport-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .track {
        position: relative;
    }

    .axis-track {
        @extend .track;
    }

    .sample-track {
        @extend .track;
    }

    .simple-track:not(:first-child) {
        margin-top: 4px;
    }

    canvas {
    }

    .tooltip {
        position: absolute;

        max-width: 300px;
        overflow: hidden;

        background: #f6f6f6;
        padding: $basic-spacing;
        font-size: 13px;

        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.21);

        pointer-events: none;
        z-index: 100;

        > .title {
            margin-bottom: $basic-spacing;
        }

        table {
            margin-top: $basic-spacing;

            &:first-child {
                margin-top: 0;
            }

            border-collapse: collapse;

            th,
            td {
                padding: 0.2em 0.4em;
                vertical-align: top;

                &:first-child {
                    padding-left: 0;
                }
            }

            th {
                text-align: left;
                font-weight: bold;
            }
        }

        .color-legend {
            display: inline-block;
            width: 0.8em;
            height: 0.8em;
            margin-left: 0.4em;
            box-shadow: 0px 0px 3px 1px white;
        }
    }

    .gene-track-tooltip {
        .summary {
            font-size: 90%;
        }
    }

    .sample-track-sample-tooltip table {
        td.color {
            width: 1px;
        }
    }

    .message-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;

        > div {
            border: 1px solid red;
            padding: 10px;
            background: #fff0f0;
        }
    }
}

// TODO: Move inside .genome-spy
// TODO: Make colors more "functional" and themable
.context-menu {
    position: fixed;

    padding: 7px 0;
    background: #f6f6f6;
    border: #e0e0e0;
    border-radius: 2px;

    z-index: 100;

    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.21);

    cursor: pointer;

    .context-menu-item,
    .context-menu-header {
        display: block;

        padding: 0 15px;
        font-size: 13px;
        line-height: 20px;

        font-family: sans-serif;
    }

    .context-menu-header {
        font-size: 12px;
        color: #777;
    }

    div.context-menu-item {
        color: #888;
    }

    a.context-menu-item:hover {
        background-color: #e0e0e0;
    }

    .context-menu-divider {
        margin: 5px 0;
        border-top: 1px solid #e0e0e0;
    }
}
