@use "sass:math";
@use "sass:color";

$basic-spacing: 10px;

// https://css-tricks.com/snippets/css/system-font-stack/
$font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.genome-spy-app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    body > & {
        background-color: white;
    }

    font-family: $font-family;

    .toolbar,
    .toolbar .btn-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .toolbar {
        $background: #6c82ab;
        $foreground: white;

        height: 38px;

        background-color: $background;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

        border-top: 1px solid lighten($background, 15%);
        border-bottom: 1px solid darken($background, 15%);

        .spacer {
            flex-grow: 1;
        }

        .logo {
            display: block;

            img {
                vertical-align: middle;
                width: 34px;
            }
        }

        .title {
            display: none;
            color: $foreground;
            font-size: 18px;
            font-weight: normal;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        }

        .vis-title {
            color: $foreground;
            font-size: 14px;
            font-weight: normal;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        }

        .search-input {
            background-color: darken($background, 5%);
            color: $foreground;
            border: 1px solid darken($background, 10%);
            font-size: 14px;
            width: 260px;
            padding: 3px 6px;
            outline: none;

            position: relative;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset,
                1px 1px 0px lighten($background, 4%);
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        }

        .search-help {
            box-sizing: border-box;
            position: absolute;
            border: none;
            background: #f6f6f6;
            font-size: 14px;
            padding: $basic-spacing;
            z-index: 1000;
            visibility: hidden;

            box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);

            > :first-child {
                margin-top: 0;
            }

            opacity: 0;
            transition: opacity 0.2s, transform 0.2s ease-in-out,
                visibility 0.2s;

            transform: translate(0, 13px);

            li {
                cursor: pointer;
            }
        }

        .search:focus-within .search-help {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 3px);
        }

        > * {
            padding-left: $basic-spacing;

            &:last-child {
                margin-right: $basic-spacing;
            }
        }

        .tool-btn {
            padding: 0;

            transition: color 0.15s;

            $color: lighten($background, 5%);
            background-color: $color;
            background-image: linear-gradient(
                to bottom,
                lighten($color, 3%),
                darken($color, 3%)
            );
            color: $foreground;
            height: 26px;
            width: 30px;

            border: 1px solid;

            border-top-color: lighten($color, 10%);
            border-left-color: lighten($color, 2%);

            border-right-color: darken($color, 10%);
            border-bottom-color: darken($color, 20%);

            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            margin-left: $basic-spacing;

            display: flex;
            align-items: center;
            justify-content: center;

            > svg {
                transform: scale(1.25);
                filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
            }

            &:active {
                > * {
                    position: relative;
                    top: 1px;
                }
            }

            &:disabled {
                color: mix($background, $foreground, 50%);
            }

            &:hover:not(:disabled) {
                background-image: linear-gradient(
                    to bottom,
                    lighten($color, 5%),
                    darken($color, 0%)
                );

                > svg {
                    filter: drop-shadow(0 0 3px rgba(150, 200, 255, 1));
                }
            }

            &:focus {
                outline: none;
                // TODO: Should be made visible, but
                /*
                outline-offset: 2px;
                outline: 1px dashed white;
                */
            }
        }

        .btn-group,
        .dropdown {
            .tool-btn {
                margin-left: 0;
            }
        }

        .dropdown {
            position: relative;

            &.show {
                .gs-dropdown-menu {
                    display: block;
                }

                > button {
                    background-image: linear-gradient(
                        to bottom,
                        lighten($background, 12%),
                        lighten($background, 8%)
                    );
                }
            }
        }
    }

    .genome-spy-container {
        position: relative;
        flex-grow: 1;
        overflow: hidden;
    }
}

// TODO: Make colors more "functional" and themable
.gs-context-menu {
    position: fixed;

    padding: 7px 0;
    background: #f6f6f6;
    border: #e0e0e0;
    border-radius: 2px;

    z-index: 100;

    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.21);

    cursor: default;

    .context-menu-item,
    .context-menu-header {
        display: block;

        padding: 0 15px;
        font-size: 13px;
        line-height: 22px;

        font-family: $font-family;
    }

    .context-menu-header {
        font-size: 12px;
        color: #777;
    }

    div.context-menu-item {
        color: #888;
    }

    a.context-menu-item {
        svg:first-child {
            width: 1em;
            margin-right: 0.2em;
        }
    }

    a.context-menu-item:hover:not(.disabled) {
        background-color: #e0e0e0;
    }

    .context-menu-divider {
        margin: 5px 0;
        border-top: 1px solid #e0e0e0;
    }

    .operator {
        // Make less/greater-than-or-equal symbols clearer
        font-size: 125%;
        line-height: 0.8;
    }
}

.gs-dropdown-menu {
    $vPadding: 13px;

    $hover-color: #e0e0e0;
    $hPadding: 7px;

    overflow: auto;
    max-height: calc(100vh - 60px);

    display: none;
    z-index: 1;
    position: absolute;
    width: max-content;
    background-color: #f8f8f8;

    margin: 0;
    padding-left: 0px;
    list-style: none;

    // TODO: Same as in context menu
    font-size: 13px;

    padding: $hPadding 0;

    li {
        position: relative;
        padding: 0;

        & > a:hover {
            background-color: $hover-color;
        }
    }

    a:first-child,
    span.disabled-item {
        display: block;
        padding: 4px $vPadding;
    }

    span.disabled-item {
        color: #b0b0b0;
    }

    a {
        display: block;
        cursor: pointer;

        &.active {
            $tickSize: 5px;

            background-color: #e0e0e0;
            border-left: $tickSize solid #c0c0c0;
            padding-left: $vPadding - $tickSize;
        }
    }

    a.context-menu-ellipsis {
        aspect-ratio: 1 / 1;
        display: grid;
        justify-content: center;
        align-content: center;

        position: absolute;
        top: 1px;
        right: $vPadding * 0.5;
        bottom: 1px;
        vertical-align: center;
        max-height: 2em;

        background-color: $hover-color;
        border-radius: 3em;

        color: #707070;

        svg {
            margin: 0;
        }

        &:hover {
            background-color: color.scale($hover-color, $lightness: 50%);
        }
    }

    li:not(:hover) a.context-menu-ellipsis {
        display: none;
    }

    svg {
        margin-right: 3px;
        width: 1em;
    }

    .menu-divider {
        margin: 5px 0;
        border-top: 1px solid #e0e0e0;
    }

    ul {
        padding-left: 1.5em;
        list-style: none;
    }

    > li > ul {
        padding-left: 0;
    }

    label {
        padding: 1px 14px;

        &:hover {
            background-color: $hover-color;
        }
    }

    .unchecked label {
        // TODO: Theme color
        color: #aaa;
    }
}

.gs-modal {
    z-index: 101;

    font-family: $font-family;
    font-size: 14px;

    * {
        box-sizing: border-box;
    }

    position: fixed;
    inset: 0;

    .backdrop {
        position: absolute;
        inset: 0;
        background-color: rgb(75, 75, 75);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    display: grid;
    justify-content: center;
    align-content: center;

    .content {
        z-index: 1;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.21);
        background: white;
        border-radius: 3px;
        min-width: 300px;
        opacity: 0;
        transform: translate(0, -15px);
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }

    &.visible {
        .backdrop {
            opacity: 0.4;
        }

        .content {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    .modal-body,
    .modal-title,
    .modal-buttons {
        padding: $basic-spacing;
    }

    .modal-title {
        font-weight: bold;
    }

    .modal-body {
        > p:first-child {
            margin-top: 0;
        }

        > p:last-child {
            margin-bottom: 0;
        }
    }

    .modal-buttons {
        text-align: right;

        border-top: 1px solid #d0d0d0;

        button {
            display: inline-block;
            padding: 4px 12px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
            text-align: center;
            text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
            vertical-align: middle;
            background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
            border: 1px solid #cccccc;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1)
                rgba(0, 0, 0, 0.25);
            border-bottom-color: #b3b3b3;
            border-radius: 4px;
            box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%),
                0 1px 2px rgb(0 0 0 / 5%);

            transition: color 0.1s;

            &:hover:not(:disabled) {
                background-image: linear-gradient(to bottom, #f8f8f8, #d8d8d8);
            }

            &:active {
                border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2)
                    rgba(0, 0, 0, 0.5);
            }

            &:disabled {
                color: #a0a0a0;
            }

            &:not(:disabled) {
                cursor: pointer;
            }

            svg:first-child {
                font-size: 85%;
                margin-right: 0.3em;
            }
        }
    }
}

$form-control-color: #212529;
$form-control-border-color: #ced4da;
$form-control-border: 1px solid $form-control-border-color;

.gs-checkbox-list {
    color: $form-control-color;
    border: $form-control-border;
    border-radius: 0.25em;
    overflow: auto;
    max-height: 200px;

    padding: 0.375em 0.75em;

    margin: 0;

    .color {
        width: 0.5em;
        height: 1em;
        margin-right: 0.4em;
    }

    li {
        list-style: none;
    }
}

.gs-form-group {
    &:not(:first-child) {
        margin-top: 0.5em;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5em;
    }

    input[type="text"],
    input[type="number"],
    select,
    textarea {
        display: block;
        width: 100%;
        padding: 0.375em 0.75em;
        font-size: 1em;
        font-family: $font-family;
        line-height: 1.5;
        color: $form-control-color;
        background-color: #fff;
        background-clip: padding-box;
        border: $form-control-border;
        border-radius: 0.25em;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:invalid:not(:focus) {
            border-color: red;
            box-shadow: 0 0 5px 0px red;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &::placeholder {
            color: #a0a0a0;
        }
    }

    select {
        // Copy-pasted from Bootstrap 5.1
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        appearance: none;
    }

    small {
        display: block;
        margin-top: 0.25rem;
        color: #606060;
    }
}

.gs-alert {
    display: flex;
    align-items: center;

    position: relative;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: 0.25rem;

    > svg:first-child {
        width: 2em;
        height: 2em;
        margin-right: 0.8em;
    }

    &.warning {
        color: #664d03;
        background-color: #fff3cd;
        border-color: #ffecb5;
    }
}

.snarkdown {
    br {
        content: "A";
        display: block;
        margin-bottom: 0.5em;
    }
}

.copy-url {
    position: relative;

    button {
        position: absolute;

        $pad: 0.4em;
        right: $pad;
        top: $pad;
        bottom: $pad;

        box-shadow: 0 0 $pad * 0.5 $pad * 0.4 white;
    }
}

label.checkbox {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        flex: none;
        margin-right: 0.5em;
    }
}

.gs-opened-menu .genome-spy .tooltip {
    display: none;
}
