@use "sass:math";

$basic-spacing: 10px;

$font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.genome-spy {
    font-family: $font-family;

    position: relative;

    canvas {
        transform: scale(1, 1);
        opacity: 1;
        transition: transform 0.6s, opacity 0.6s;
    }

    .loading-message {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;

        align-items: center;
        justify-content: center;

        .message {
            color: #666;
            opacity: 0;
            transition: opacity 0.7s;
        }
    }

    &.loading {
        canvas {
            transform: scale(0.95, 0.95);
            opacity: 0;
        }

        .loading-message .message {
            opacity: 1;
        }

        .ellipsis {
            animation: blinker 1s linear infinite;
        }

        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }
    }

    .tooltip {
        position: absolute;

        max-width: 450px;
        overflow: hidden;

        $background-color: #f6f6f6;
        background: $background-color;
        padding: $basic-spacing;
        font-size: 13px;

        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.21);

        pointer-events: none;
        z-index: 100;

        > :last-child {
            margin-bottom: 0;
        }

        > .title {
            padding-bottom: math.div($basic-spacing, 2);
            margin-bottom: math.div($basic-spacing, 2);
            border-bottom: 1px dashed darken($background-color, 25%);
        }

        .summary {
            font-size: 12px;
        }

        table {
            &:first-child {
                margin-top: 0;
            }

            border-collapse: collapse;

            th,
            td {
                padding: 2px 0.4em;
                vertical-align: top;

                &:first-child {
                    padding-left: 0;
                }
            }

            th {
                text-align: left;
                font-weight: bold;
            }
        }

        .color-legend {
            display: inline-block;
            width: 0.8em;
            height: 0.8em;
            margin-left: 0.4em;
            box-shadow: 0px 0px 3px 1px white;
        }

        .attributes {
            .hovered {
                background-color: #e0e0e0;
            }
        }

        .na {
            color: #aaa;
            font-style: italic;
            font-size: 80%;
        }
    }

    .gene-track-tooltip {
        .summary {
            font-size: 90%;
        }
    }

    .message-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;

        > div {
            border: 1px solid red;
            padding: 10px;
            background: #fff0f0;
        }
    }
}

// TODO: Move inside .genome-spy
// TODO: Make colors more "functional" and themable
.context-menu {
    position: fixed;

    padding: 7px 0;
    background: #f6f6f6;
    border: #e0e0e0;
    border-radius: 2px;

    z-index: 100;

    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.21);

    .context-menu-item,
    .context-menu-header {
        display: block;

        padding: 0 15px;
        font-size: 13px;
        line-height: 21px;

        font-family: $font-family;

        cursor: pointer;
    }

    .context-menu-header {
        font-size: 12px;
        color: #777;
    }

    div.context-menu-item {
        color: #888;
    }

    a.context-menu-item:hover {
        background-color: #e0e0e0;
    }

    .context-menu-divider {
        margin: 5px 0;
        border-top: 1px solid #e0e0e0;
    }
}

.genome-spy-modal {
    z-index: 101;

    font-family: $font-family;
    font-size: 14px;

    * {
        box-sizing: border-box;
    }

    position: fixed;
    inset: 0;

    .backdrop {
        position: absolute;
        inset: 0;
        background-color: rgb(75, 75, 75);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    display: grid;
    justify-content: center;
    align-content: center;

    .content {
        z-index: 1;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.21);
        background: white;
        border-radius: 3px;
        min-width: 300px;
        opacity: 0;
        transform: translate(0, -15px);
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }

    &.visible {
        .backdrop {
            opacity: 0.4;
        }

        .content {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    .modal-body,
    .modal-title,
    .modal-buttons {
        padding: $basic-spacing;
    }

    .modal-title {
        font-weight: bold;
    }

    .modal-buttons {
        text-align: right;

        border-top: 1px solid #d0d0d0;

        button {
            display: inline-block;
            padding: 4px 12px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
            text-align: center;
            text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
            vertical-align: middle;
            cursor: pointer;
            background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
            border: 1px solid #cccccc;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1)
                rgba(0, 0, 0, 0.25);
            border-bottom-color: #b3b3b3;
            border-radius: 4px;
            box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%),
                0 1px 2px rgb(0 0 0 / 5%);

            &:hover {
                background-image: linear-gradient(to bottom, #f8f8f8, #d8d8d8);
            }

            &:active {
                border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2)
                    rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.gs-form-group {
    &:not(:first-child) {
        margin-top: 0.5em;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5em;
    }

    input[type="text"],
    textarea {
        display: block;
        width: 100%;
        padding: 0.375em 0.75em;
        font-size: 1em;
        font-family: $font-family;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25em;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:invalid:not(:focus) {
            border-color: red;
            box-shadow: 0 0 5px 0px red;
        }
    }

    small {
        display: block;
        margin-top: 0.25rem;
        color: #606060;
    }
}
